<!-- Nav bar -->
<header class="header">
	<div class="navbar">
		<div class="add_nums_widget">                
			<div class="enter_track">
				<form class="enter_numbers">
					<div class="enter_numbers_box">
						<i class="fas fa-box"></i>
						<input type="text" placeholder="ADD TRACKING NUMBER(S)"/>
					</div>
				</form>
			</div>
			<div class="add_button">ADD</div>
		</div>
		<img class="logo" src="http://localhost:8080/images/PkgFiend_logo.svg">
		<div class="sign_in_box">
			<p>DASHBOARD</p>
			<div class="user_icon">
				<div class="user_initial">T</div>
				<div class="logout_button">EXIT</div>
			</div>
		</div>
	</div>    
</header>
<!-- This section displays the current tracking number showed below -->
<div class="tracker_body">
	<!--  Shows packages where 'out for delivery' is true -->
	<div class="alerts_collapsible">
		<div class="left_spacer"></div>    
		<div class="category_title">OUT FOR DELIVERY</div>
		<div class="line_quantity">
			<p id="alerts_num"><%= ofd.length %></p>
			<i class="fas fa-caret-down"></i>
		</div>
	</div>
	<div class="alerted_nums">
		<!-- Each of these track_data_line divs represents one of the numbers -->
		<% for (let i = 0; i < ofd.length; i++) { %>
		<div class="alert_data_line">
			<!-- Split into left and right divs for spacing -->                    
			<div class="editable">
				<i id="save_name" class="fas fa-save"></i>
				<div class="ed_parcel_name">
					<% const parc_name = ofd[i].Name ? ofd[i].Name : "Customize"; %>
					<% const input_template = '<input id="name_input" type="text" placeholder="' + parc_name + '" />'; %>
					<%- input_template %>
				</div>
			</div>
			<div class="data_line_l">
				<p><%= ofd[i].TrackNum %></p>
				<div class="carrier_icon"><% ofd[i].Provider %></div>
			</div>
			<div class="data_line_r">
				<div id="data_line_status">Out for Delivery:</div>
				<div id="data_line_delivery_date indv_time"><%= ofd[i].MostRecentTime %></div>
			</div>
		</div>
		<% } %>
	</div>
	<div class="active_collapsible">
		<div class="left_spacer"></div>    
		<div class="category_title">IN TRANSIT</div>
		<div class="line_quantity">
			<!-- PLACEHOLDER -->
			<p id="active_num"><%= it.length %></p>
			<i class="fas fa-caret-down"></i>
		</div>
	</div>
	<div class="active_nums">
		<!-- Each of these track_data_line divs represents one of the numbers -->
		<!-- This should automatically select the first number to be selected. It will be changed via JS when switching -->
		
		<% for (let i = 0; i < it.length; i++) { %>
		<div class="active_data_line">
			<!-- Split into left and right divs for spacing -->                    
			<div class="editable">
				<i id="save_name" class="fas fa-save"></i>
				<div class="ed_parcel_name">
					<% const parc_name = it[i].Name ? it[i].Name : "Customize"; %>
					<% const input_template = '<input id="name_input" type="text" placeholder="' + parc_name + '" />'; %>
					<%- input_template %>
				</div>
			</div>
			<div class="data_line_l">
				<p><%= it[i].TrackNum %></p>
				<div class="carrier_icon"><%= it[i].Provider %></div>
			</div>
			<div class="data_line_r">
				<div id="data_line_status">In transit:</div>
				<div id="data_line_delivery_date indv_time"><%= it[i].MostRecentTime %></div>
			</div>
		</div>
		<% } %>
	</div>
	<div class="delivered_collapsible">
		<div class="left_spacer"></div>    
		<div class="category_title">DELIVERED</div>
		<div class="line_quantity">
			<!-- PLACEHOLDER -->
			<p id="delivered_num"><%= dd.length %></p>
			<i class="fas fa-caret-down"></i>
		</div>
	</div>
	<div class="delivered_nums">
		<!-- Each of these track_data_line divs represents one of the numbers -->
		<!-- This should automatically select the first number to be selected. It will be changed via JS when switching -->
		
		<% for (let i = 0; i < dd.length; i++) { %>
		<div class="delivered_data_line">
			<!-- Split into left and right divs for spacing -->                    
			<div class="editable">
				<i id="save_name" class="fas fa-save"></i>
				<div class="ed_parcel_name" data-id="<%= dd[i].TrackNum %>">
					<% const parc_name = dd[i].Name ? dd[i].Name : "Customize"; %>
					<% const input_template = `<input id="name_input" type="text" placeholder="` + parc_name + '" />'; %>
					<%- input_template %>
				</div>
			</div>
			<div class="data_line_l">
				<p><%= dd[i].TrackNum %></p>
				<div class="carrier_icon"><%= dd[i].Provider %></div>
			</div>
			<div class="data_line_r">
				<div id="data_line_status">Delivered: </div>
				<div id="data_line_delivery_date" class="indv_time"><%= dd[i].MostRecentTime %></div>
			</div>
		</div>
		<% } %>
	</div>

	<div class="statistics">
		
		<div class="stats_data_lines">
			<div class="stat_line_bold">
				<div class="bold_body">Delivered - 7 days:</div>
				<div class="del_7"><%= del7_ups + del7_usps %></div>
			</div>
			<div class="stat_line_bold">
				<div class="bold_body">Delivered - 30 days:</div>
				<div class="del_30"><%= del30_ups + del30_usps %></div>
			</div>
			<div class="stat_line_bold">
				<div class="bold_body">Delivered - 90 days:</div>
				<div class="del_90"><%= del90_ups + del90_usps %></div>
			</div>
			<div class="stat_line_bold">
				<div class="bold_body">Delivered - 180 days:</div>
				<div class="del_6m"><%= del180_ups + del180_usps %></div>
			</div>
			
			<div class="stat_line_bold">
				<div class="bold_body">TOTALS</div>
				<div></div>
			</div>
			<div class="stat_line_bold">
				<div class="bold_body_ups">UPS:</div>
				<div class="del_ups"><%= all_ups %></div>
			</div>
			<div class="stat_line_bold">
				<div class="bold_body_usps">USPS:</div>
				<div class="del_usps"><%= all_usps %></div>
			</div>
			<div class="stat_line_bold">
				<div class="bold_body">Delivered:</div>
				<div class="del_at"><%= dat.length %></div>
			</div>
		</div>
		
		<div class="bar_graph">
			<div class="g_column">
				<div class="g_bar_transit">
					<% const ups_bar_it = '<div class="ups_bar" style="height:' + it_ups*100/dat.length + '%;">'; %> 
					<%- ups_bar_it %>
						<span class="ups_hover">UPS</span>
						<span class="ups_hover"><%= it_ups %></span>
						</div>
					<% const usps_bar_it = '<div class="usps_bar" style="height:' + it_usps*100/dat.length + 'px;">'; %> 
					<%- usps_bar_it %>
						<span class="usps_hover">USPS</span>
						<span class="usps_hover"><%= it_usps %></span>
						</div>
				</div>
				<div class="g_name">In Transit</div>
			</div>
			<div class="g_column">
				<div class="g_bar_7">
					<% const ups_bar_7 = '<div class="ups_bar" style="height:' + del7_ups*100/dat.length + '%;">'; %> 
					<%- ups_bar_7 %>
						<span class="ups_hover">UPS</span>
						<span class="ups_hover"><%= del7_ups %></span>
						</div>
					<% const usps_bar_7 = '<div class="usps_bar" style="height:' + del7_usps*100/dat.length + '%;">'; %> 
					<%- usps_bar_7 %>
						<span class="usps_hover">USPS</span>
						<span class="usps_hover"><%= del7_usps %></span>
						</div>
				</div>
				<div class="g_name">7 days</div>
			</div>
			<div class="g_column">
				<div class="g_bar_30">
					<% const ups_bar_30 = '<div class="ups_bar" style="height:' + del30_ups*100/dat.length + '%;">'; %> 
						<%- ups_bar_30 %>
							<span class="ups_hover">UPS</span>
							<span class="ups_hover"><%= del30_ups %></span>
						</div>
						<% const usps_bar_30 = '<div class="usps_bar" style="height:' + del30_usps*100/dat.length + '%;">'; %> 
						<%- usps_bar_30 %>
							<span class="usps_hover">USPS</span>
							<span class="usps_hover"><%= del30_usps %></span>
						</div>
				</div>
				<div class="g_name">30 days</div>
			</div>
			<div class="g_column">
				<div class="g_bar_90">
					<% const ups_bar_90 = '<div class="ups_bar" style="height:' + del90_ups*100/dat.length + '%;">'; %> 
						<%- ups_bar_90 %>
							<span class="ups_hover">UPS</span>
							<span class="ups_hover"><%= del90_ups %></span>
					</div>
						<% const usps_bar_90 = '<div class="usps_bar" style="height:' + del90_usps*100/dat.length + '%;">'; %> 
						<%- usps_bar_90 %>
							<span class="usps_hover">USPS</span>
							<span class="usps_hover"><%= del90_usps %></span>
					</div>
				</div>
				<div class="g_name">90 days</div>
			</div>
			<div class="g_column">
				<div class="g_bar_180">
					<% const ups_bar_180 = '<div class="ups_bar" style="height:' + del180_ups*100/dat.length + '%;">'; %> 
						<%- ups_bar_180 %>
							<span class="ups_hover">UPS</span>
							<span class="ups_hover"><%= del180_ups %></span>

						</div>
						<% const usps_bar_180 = '<div class="usps_bar" style="height:' + del180_usps*100/dat.length + '%;">'; %> 
						<%- usps_bar_180 %>
							<span class="usps_hover">USPS</span>
							<span class="usps_hover"><%= del180_usps %></span>
						</div>
				</div>
				<div class="g_name">180 days</div>
			</div>
			<div class="g_column">
				<div class="g_bar_all">
					<% const ups_bar_all = '<div class="ups_bar" style="height:' + all_ups*100/dat.length + '%;">'; %> 
					<%- ups_bar_all %>
						<span class="ups_hover">UPS</span>
						<span class="ups_hover"><%= all_ups %></span>
					</div>
					<% const usps_bar_all = '<div class="usps_bar" style="height:' + all_usps*100/dat.length + '%;">'; %> 
					<%- usps_bar_all %>
						<span class="usps_hover">USPS</span>
						<span class="usps_hover"><%= all_usps %></span>
					</div>
				</div>
				<div class="g_name">All Time</div>
			</div>
		</div>
	</div>
</div>
<footer class="footer">
	<div id="bottom_line"></div>
	<div class="footer_div">
		<div></div>
		<div class="holberton">
			<img class="holb_logo" src="http://localhost:8080/images/holb_logo_black.svg">
			<p>Holberton School</p>
		</div>
		<p id="footer_link">Privacy</p>
	</div>
</footer>
<script type="text/javascript">
	window.data = <%- JSON.stringify(dat, null, 0) %>;
	console.log('this is loading');
	console.log(data);
</script>
<script type="text/javascript" src="http://localhost:8080/scripts/dashboard.js"> </script>
