<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="utf8">
        <meta charset="utf8">
        <!-- Change back to https://packagefiend.com before merging to master -->
        <link rel="stylesheet" href="http://www.packagefiend.com/styles/dashboard_style.css">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet">        
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
        <script src="https://kit.fontawesome.com/03ce98851b.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
        <!-- Change back to https://packagefiend.com before merging to master -->
		<script type="text/javascript" src="http://www.packagefiend.com/scripts/predash.js"></script>
        <title>Package Fiend</title>
    </head>
    <body>
    </body>
</html>
